@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market');

*, body, html {box-sizing: border-box;}

body{
  width: 100%;
  font-family: 'Chelsea Market', cursive;
  margin: 0 auto;
}

h1{
  text-align: center;
  font-family: 'Chelsea Market'; 
  color: #fff;
  padding: 1rem;
  text-shadow: 0px 2px purple;
}

a{
  text-decoration: none;
  color: rgb(211, 31, 211);
}
a:hover{
  color: yellow;
}

h3{
  color: white;
  font-family: 'Chelsea Market';
  max-width: 80%;
}

.container{
  background-color: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script', cursive;
}

.img{
  width: 15rem;
  padding: 1rem;
}
.img-container{
  display: flex;
}
.textoFrase{
  font-family: 'Chelsea Market';
  max-width: 80%;
  color: #fff;
}

.btn{
  font-family: 'Chelsea Market';
  background-color: rgb(33, 8, 56);
  border-radius: 1rem;
  color:rgb(192, 163, 163);
  padding: .25rem;  
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(85, 18, 148);
}

#img-bisc{
  width: 7rem;
}
#footer{
  width: 100%;
  margin: 0 auto;
  background-color: rgb(26, 10, 26);
  font-family: 'Chelsea Market';
  font-size: smaller;
  text-align: center;
  color: #fff;
  padding: .5rem;
}

@media(max-width: 800px){
  .btn{
    margin: 2rem;
  }
  #footer{
    font-size: .5rem;
    margin: 0 auto;
    width: 100%;
  }
}

